# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
# Virtual Environment
venv/
ENV/
env/

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# File to excluded.
appointment_functions_test.py
appointment_test.py
data-modeling-learnings.md
data-tables.md
database-design.md
DDL_Script_mock_data2.sql
mock-data-int.sql
Prompt_Functions_generator.md
sample_data.md
supabase-setup.md
test-api.http

